<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title class="noselect">HWay v-b0.01</title>
    <div class="flex-container">
        <div class="header-title noselect">
                <a href='/all'><div id="title">HWay <span style="font-size:18px"><%= topic %></div></a>   </span>
           
        </div>
     </div>

     <div class="header-buttons noselect">
         <div id="currentUserInfo">
            <button onclick="logout()" id="logout_button" style='display: none;'>Logout</button>
            <button onclick="login()" id="login_button" style='display: none;'>Login</button>
            <button onclick="register()" id="reg_button" style='display: none;'>Sign up</button>
            <div id="currentUser"></div>
            
            
        </div>
        <div id="misc_header_buttons">
            <div id="page-number"></div> 
            <div class="users-page-button" id="users-page-button">Users</div>
            <div class="topic-dropdown-div" id='topic-dropdown-div'>
                <div onclick="topicdropdownclicked()" class="topic-dropdown-button" id="topic-dropdown-button">Top topics</div>
                <div id="topic-dropdown" class="dropdown-content">
                <!-- topics (handled by js) -->
                </div>
            </div>
            <div id="post-button" onclick="ui_newPost()">Create new post</div>
        </div>
        
    </div>   
</head>
<body>
    <div class='page-content'>
        <%- body %>
    </div>

<script>

function topicdropdownclicked() {
    document.getElementById("topic-dropdown").classList.toggle("show");
}

    window.onclick = function(event) {
        if (!event.target.matches('.topic-dropdown-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            }
        }
    }
}      

async function goHome() {
    const response = await fetch('/all')
}

async function logout() {
    const response = await fetch('/logout')
    window.location.replace("/");
}
async function login() {
    window.location.replace("/login");
}
async function register() {
    window.location.replace("/register");
}

getUsername()

async function getUsername() {
    const response = await fetch('/api/get/currentuser')
    const data = await response.json()
    //console.log(data)

    if (data.status != "error") {
        document.getElementById("currentUser").innerHTML = data.name
    } else {
        if (data.error.name == "TokenExpiredError") {
            document.getElementById("currentUser").innerHTML = "token expired"
        }
    }
}


</script>
</body>
</html>