<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title class="noselect">HWay v-b0.01</title>
    <div class="flex-container">
        <div class="header-title noselect">
                <a href='/all'><div id="title">HWay <span style="font-size:18px"><%= topic %></div></a>   </span>
        </div>
        
        <div class="user-dropdown-div" id='user-dropdown-div'>
            <div onclick="currentuserDropdownClicked()" class="user-dropdown-button" id="user-dropdown-button"><div id="currentUser" class="noselect"></div></div>
            <div id="user-dropdown" class="user-dropdown-content">
                <a href='#' onclick="profile()" id="profile_button" class="user-dropdown-item">Profile</a>
                <a href='#' onclick="logout()" id="logout_button">Logout</a>
                <a href='#' onclick="login()" id="login_button">Login</a>
                <a href='#' onclick="register()" id="reg_button">Register</a>
                <!-- <label for="filter_nsfw" id="filter_nsfw_label" class="filter_nsfw">NSFW</label> -->
                <div class="border-bottom"></div>
                <div id="filter_nsfw_div">
                    NSFW
                <input type="checkbox" id="filter_nsfw" style='color:black' class="filter_nsfw" onchange="filter_nsfw()"/>
                </div>
                
            </div>
        </div>

     </div>

     <div class="header-buttons noselect" id="header-buttons">
        
        <div id="misc_header_buttons">
            <div id="page-number"></div> 
            <!-- <div class="users-page-button" id="users-page-button">Users</div> -->

            <div class="topic-dropdown-div" id='topic-dropdown-div'>
                <div onclick="topicdropdownclicked()" class="topic-dropdown-button" id="topic-dropdown-button">Topics</div>
                <div id="topic-dropdown" class="dropdown-content">
                    
                </div>
            </div>
            <div id="post-button" style='display:none;' onclick="ui_newPost()">New post</div>
            <div id="search-button" onclick="showorhidesearch()">Search</div>
        </div>
        
    </div>   
</head>
<body>
    <div id="sorting_options" class="sorting_options">
        <a id="sorting_options_new" class="sorting_options" href="#">New</a>
        <a id="sorting_options_hot" class="sorting_options" href="#">Hot</a>
        <a id="sorting_options_top_today" class="sorting_options" href="#">Top (day)</a>
        <a id="sorting_options_top_week" class="sorting_options" href="#">Top (week)</a>
        <a id="sorting_options_top_month" class="sorting_options" href="#">Top (month)</a>
        <a id="sorting_options_top_all" class="sorting_options" href="#">Top (all)</a>
        
    </div>

    <div id="searchbar" style="display:none;">
        <input class="search_options" id="search_phrase" type="text" maxlength="150" style="height:25px;font-size: 20px;" placeholder="Search terms"><br/>
        <input class="search_options" id="search_topic" type="text" maxlength="100" style="height:25px;font-size: 20px;" placeholder="Search a specific topic (optional)">
        <button id="search_submit">Search</button>
    </div>
    
    <div class='page-content'>
        <%- body %>
    </div>

<script>

function topicdropdownclicked() {
    document.getElementById("topic-dropdown").classList.toggle("show");
}
function currentuserDropdownClicked() {
    document.getElementById("user-dropdown").classList.toggle("show");
}
  
document.onclick = function(e){
    console.log(e)
    if(e.target.id !== 'currentUser'){
        if (document.getElementById('user-dropdown').classList.contains('show')) {
            document.getElementById('user-dropdown').classList.remove('show');
        }
    }
    if(e.target.id !== 'topic-dropdown-button'){
        if (document.getElementById('topic-dropdown').classList.contains('show')) {
            document.getElementById('topic-dropdown').classList.remove('show');
        }
    }
};

async function goHome() {
    const response = await fetch('/all')
}

async function logout() {
    const response = await fetch('/logout')
    window.location.replace("/");
}
async function login() {
    window.location.replace("/login");
}
async function register() {
    window.location.replace("/register");
}

function profile() {
    username = document.getElementById("currentUser").innerHTML
    if (username == null || username == 'Account') {
        window.location.replace('/login')
    } else {
        window.location.replace('/user/'+username)
    }
    
}

async function getUsername() {
    const response = await fetch('/api/get/currentuser')
    const data = await response.json()
    //console.log(data)

    if (data.status != "error") {
        document.getElementById("currentUser").innerHTML = data.name
    } else {
        if (data.error.name == "TokenExpiredError") {
            document.getElementById("currentUser").innerHTML = "token expired"
        }
    }
}

function showorhidesearch() {
    search = document.getElementById("searchbar")
    if (search.style.display == "none") {
        search.style.display = "block"
    } else {
        search.style.display = "none"
    }
}

getUsername()

</script>
</body>
</html>