<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="currentUser">
        
    </div>
    <br><br>
    <%- body %>
    <br><br>
    <button onclick="logout()">Logout</button>

<script>

async function logout() {
    const fetchResponse = await fetch('/logout', {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
        method: 'POST',
        body: {}
    });
    alert("logged out")
}




</script>
</body>
</html>