<h1>Change Password</h1>
		<form id="reg-form">
			<input type="password" autocomplete="off" id="password" placeholder="Password" />
			<input type="submit" value="Submit Form" />
		</form>

		<script>
			const form = document.getElementById('reg-form')
			form.addEventListener('submit', registerUser)

			async function registerUser(event) {
				event.preventDefault()
				const password = document.getElementById('password').value

				const result = await fetch('/change-password', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						newpassword: password,
						token: localStorage.getItem('token')
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
					alert('Success')
				} else {
					alert(result.error)
				}
			}
		</script>