<div class="login-reg">
    <a href="/all/1"><div class="index_item">Home</div></a>
    <a href="/register"><div class="index_item">Registration</div></a>
    <a href="/login"><div class="index_item">Login</div></a>
</div>

<script>
    document.getElementsByClassName('header-buttons')[0].style.display = 'none'
</script>