<h1>Login</h1>

<form action="/login" method="POST">

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" required autocomplete="off">
    </div>

    <div>
        <label for="Password">Password</label>
        <input type="Password" id="Password" name="Password" placeholder="Password" required autocomplete="off">
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>

<a href="/register">Register</a>