<head>
   <link rel="stylesheet" type="text/css" href="../css/profile.css" />
</head>

<body>
<div id="sitebody" class="sitebody-flex">
   <button onclick="topFunction()" id="button_sendtotop" title="Go to top">Top</button>
   <div class="profile">
      <div id="page-profile-name">

      </div>
      <div id="page-profile-info">
         <div id="page-profile-info-acd">... created their account on </div>
         <div id="page-profile-info-score">... has a score of </div>
         <div id="page-profile-info-posts_num">... has created </div> 
         <div id="page-profile-info-comments_num">... has created </div>
      </div>
      <div id="page-profile-posts-header">Posts</div>
      <div id="page-profile-posts">
         
      </div>
      <div id="page-profile-comments-header">Comments</div>
      <div id="page-profile-comments" style="color:black">
   
      </div>
   </div>
   

</div>

<script src="/profile.js"></script>
 <script src="/script.js"></script>

 <script src="/launch.js"></script>

</body>