<div class="login-reg">
    <h1 style='color:black'>Sign up</h1>
        <form id="reg-form">
            <input type="text" autocomplete="off" id="username" name="name" placeholder="Name" />
            <input type="password" autocomplete="off" id="password" name="password" placeholder="password" />
            <input type="submit" value="Register"/>
        </form>
        <div id='logs'></div>
    
    <br>
    <br>
    <a href="/login">Already signed up? <strong>Click here!</strong></a>
</div>
<script>
document.getElementsByClassName('header-buttons')[0].style.display = 'none'

const form = document.getElementById("reg-form")
form.addEventListener('submit', registerUser)

async function registerUser(event) {
    event.preventDefault()
    name = document.getElementById("username").value
    password = document.getElementById("password").value

    bodyJSON = {
        "name":name,
        "password":password
    }

    const fetchResponse = await fetch('/register', {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
        method: 'POST',
        body: JSON.stringify(bodyJSON)
    });
    const data = await fetchResponse.json()
    
    if (data.code == 200) {
        //console.log("success: 200")
        loginUser(name, password)
    } 
    if (data.code == 400) {
        document.getElementById("logs").innerHTML = data.error
    }

    if (fetchResponse.status != '200' || fetchResponse.status != 200) {
        document.getElementById("logs").innerHTML = fetchResponse.error;
    }
}

async function loginUser(name, password) {
    bodyJSON = {
        "name":name,
        "password":password
    }

    const fetchResponse = await fetch('/login', {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
        method: 'POST',
        body: JSON.stringify(bodyJSON)
    });
    const data = await fetchResponse.json()
    
    if (data.code == 200) {
        //console.log("success: 200")
        //console.log(data.data)
        localStorage.clear()
        window.location.href = "/all"
    } 
    if (data.code == 400) {
        document.getElementById("logs").innerHTML = data.error
    }

    if (fetchResponse.status != '200' || fetchResponse.status != 200) {
        document.getElementById("logs").innerHTML = fetchResponse.error;
    }
}

</script>