#page-profile-name {
	font-size:56px;
	color:white;
}

.profile {
	display:flex;
	flex-direction: column;
	color:white;
	width: 95%;
	max-width: 1200px;
	margin-left: 10px;
}

#page-profile-info, #page-profile-posts, #page-profile-comments  {
	padding-bottom: 25px;
	border-bottom: 1px solid white;
	margin-bottom:25px;
}

#page-profile-comments-header, #page-profile-posts-header {
	font-size:45px;
}

